<app-child [selectedValue]="defaultvalue"  (customevent)="ondropdownchange($event)"></app-child>
<div *ngIf="dataSource.length" class="mat-elevation-z8">
<mat-table [dataSource]="dataSource" >    
    <ng-container matColumnDef="code">
      <mat-header-cell *matHeaderCellDef> code. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.code}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="gender">
          <mat-header-cell *matHeaderCellDef> gender </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.gender}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="salary">
            <mat-header-cell *matHeaderCellDef> salary </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.salary}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="dateofbirth">
              <mat-header-cell *matHeaderCellDef> dateofbirth </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.dateofbirth}} </mat-cell>
            </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<div *ngIf="!dataSource.length">
    No Record found
    </div>
<br/>
<mat-card >
    <mat-card-header>        
        <mat-card-title>Working with Service</mat-card-title>        
      </mat-card-header>
    <mat-list>      
      <mat-list-item *ngFor="let post of posts">{{post.id}}. {{post.title}} </mat-list-item>    
     </mat-list>
</mat-card> 
