<mat-grid-list cols="4" rowHeight="50px">
    <mat-grid-tile>
        <mat-form-field>  
            <mat-label>Choose</mat-label>
          <mat-select [(ngModel)]="selectedValue" (selectionChange)="onChange($event)">    
            <mat-option *ngFor="let ddvalue of ddvalues" [value]="ddvalue.name">
            {{ddvalue.name}}
            </mat-option>
          </mat-select>
          </mat-form-field>          
       </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field>
            <input matInput type="text" [(ngModel)]='txt'/>
            </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
<br>
<br>

